<div id="welcome">
  <div id="squares">
    <div class="square" id="square1"></div>
    <div class="square" id="square2"></div>
    <div class="square" id="square3"></div>
  </div>
  <h1 id="welcome-text">Hey, i'm Tim.</h1>
  <div id="welcome-info">
    <h1><span>< </span> <div id="slash"></div> <span> ></span></h1>
    <h2>I'm an 18y/o student and <span id="professions">Fullstack Developer</span><br> from Germany, passionate in Software and Web-Development.</h2>
  </div>
  <div class="container skills">
    <h1>My skills</h1>
    <p>Every project needs different technology to work great.<br>These are my current skills im working with:</p>
    <h2>Frontend</h2>
    <p>The responsible languages and frameworks for the userinterface (UX/UI).</p>
    <div class="column row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
      <div class="skill col"><img src="assets/images/skills/html.webp" alt=""><br><h3>HTML</h3></div>
      <div class="skill col"><img src="assets/images/skills/css.png" alt=""><br><h3>CSS</h3></div>
      <div class="skill col"><img src="assets/images/skills/javascript.png" alt=""><br><h3>JavaScript</h3></div>
      <div class="skill col"><img src="assets/images/skills/typescript.png" alt=""><br><h3>TypeScript</h3></div>
      <div class="skill col"><img src="assets/images/skills/angular.png" alt=""><br><h3>Angular</h3></div>
      <div class="skill col"><img src="assets/images/skills/bootstrap.png" alt=""><br><h3>Bootstrap</h3></div>
    </div>
    <h2>Backend</h2>
    <p>Languages for algorithms and database operations.</p>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
      <div class="skill col"><img src="assets/images/skills/java.webp" alt=""><br><h3>Java</h3></div>
      <div class="skill col"><img src="assets/images/skills/python.png" alt=""><br><h3>Python</h3></div>
      <div class="skill col"><img src="assets/images/skills/nodejs.png" alt="" style="height: auto; width: 100%"><br><h3>Node.js</h3></div>
      <div class="skill col"><img src="assets/images/skills/c.png" alt=""><br><h3>C/C++</h3></div>
      <div class="skill col"><img src="assets/images/skills/firebase.png" alt=""><br><h3>Firebase</h3></div>
      <div class="skill col"><img src="assets/images/skills/mysql.webp" alt=""><br><h3>MySQL</h3></div>
    </div>
    <h2>Other</h2>
    <p>Other frameworks or languages.</p>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
      <div class="skill col"><img src="assets/images/skills/electronjs.png" alt=""><br><h3>Electron.js</h3></div>
    </div>
    <h2>Tools</h2>
    <p>Programms I use to create Software.</p>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
      <div class="skill col"><img src="assets/images/skills/github.png" alt=""><br><h3>GitHub</h3></div>
      <div class="skill col"><img src="assets/images/skills/intellij.png" alt=""><br><h3>IntelliJ</h3></div>
      <div class="skill col"><img src="assets/images/skills/vscode.png" alt=""><br><h3>VS Code</h3></div>
      <div class="skill col"><img src="assets/images/skills/copilot.png" alt=""><br><h3>Copilot</h3></div>
    </div>
  </div>
</div>
<div class="normal-part">
  <div class="container projects">
    <h1>Projects</h1>
    <p>Here are some of my projects, which I have created in the past or i'm working on right now.</p>
    <app-project></app-project>
  </div>
  <div class="big-planet"></div>
  <div class="contact">
    <div class="container" style="margin-top: 50px !important">
      <h1>Lets connect!</h1>
      <p>Do you have any questions or want to work with me? Feel free to contact me!</p>
      <div class="container">
        <button id="mail" class="btn"><a href="mailto:me@timbahlinger.de">Mail</a></button>
        <br>
        <button id="discord" class="btn"><a href="https://discord.com/users/754970958648967169" target="_blank">Discord</a></button>
      </div>
    </div>
    <div class="planet"></div>
  </div>

</div>
<footer>
  <div class="row row-cols-3">
    <ul class="links col">
      <h3>Links</h3>
      <li><a href="https://github.com/Creepercraft206" target="_blank">GitHub</a></li>
      <li><a href="https://codepen.io/Creepercraft206" target="_blank">CodePen</a></li>
      <li><a href="https://www.linkedin.com/in/tim-bahlinger-37a42a288/" target="_blank">LinkedIn</a></li>
      <li><a href="https://www.spigotmc.org/members/creeper_craftxd.1278804/" target="_blank">SpigotMC</a></li>
    </ul>
    <ul class="con col">
      <h3>Contact</h3>
      <li><a href="https://discord.com/users/754970958648967169" target="_blank">Discord</a></li>
      <li><a href="mailto:me@timbahlinger.de" target="_blank">Mail</a></li>
    </ul>
    <ul class="legal col">
      <h3>Legal</h3>
      <li><a href="">Imprint</a></li>
      <li><a href="">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="row row-cols-3" style="margin-top: 20px">
    <h1 id="copyright" class="col">© {{ year }}<br>Tim Bahlinger</h1>
    <ul class="time col">
      <h3>Local time</h3>
      <h4 class="current-time">12:00 AM</h4>
      <h5 class="location">Baden-Württemberg, Germany</h5>
    </ul>
  </div>
</footer>
