<main>
  <div id="blob"></div>
  <div class="container">
    <h1>Tim Bahlinger</h1>
    <p>Do you have any questions or want to work with me? Feel free to contact me!</p>
    <div class="info">
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4">
        <div class="col">
          <div class="contact">
            <a href="">
              <img src="assets/images/projects/linkIcons/github.svg" alt="GitHub">
              <p>LinkedIn</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
        <div class="col">
          <div class="contact">
            <a href="#">
              <img src="assets/images/projects/linkIcons/github.svg" alt="GitHub">
              <p>Xing</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
        <div class="col">
          <div class="contact">
            <a href="#">
              <img src="assets/images/projects/linkIcons/github.svg" alt="GitHub">
              <p>Discord</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
        <div class="col">
          <div class="contact">
            <a href="#">
              <img src="assets/images/projects/linkIcons/github.svg" alt="GitHub">
              <p>Mail</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
