<main class="test">
  <div id="blob"></div>
  <div class="container">
    <div class="icon-container"></div>
    <h1>Tim Bahlinger</h1>
    <p>Lets get in touch!</p>
    <div class="info">
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-4">
        <div class="col">
          <div class="contact">
            <a href="https://www.linkedin.com/in/tim-bahlinger-37a42a288/" target="_blank">
              <img src="assets/images/contact/linkedin.svg" alt="LinkedIn">
              <p>LinkedIn</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
        <div class="col">
          <div class="contact">
            <a href="https://www.xing.com/profile/Tim_Bahlinger">
              <img src="assets/images/contact/xing.svg" alt="Xing">
              <p>Xing</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
        <div class="col">
          <div class="contact">
            <a href="https://discord.com/users/754970958648967169">
              <img src="assets/images/contact/discord.svg" alt="Discord">
              <p>Discord</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
        <div class="col">
          <div class="contact">
            <a href="mailto:me@timbahlinger.de">
              <img src="assets/images/contact/mail.svg" alt="Mail">
              <p>Mail</p>
            </a>
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="legal">
    <a href="#">Imprint</a> | <a href="#">Privacy</a>
  </div>
</main>
