.dropdown-menu {
  padding: 2px;
  background-image: linear-gradient(70deg, #F0060B, #CC26D5, #7702FF);
}

.inner-menu {
  background-color: black;
  border-radius: 5px;
}

.dropdown-item {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.dropdown-item img {
  width: 20px;
  margin-right: 10px;
}

.dropdown-item:hover {
  background-color: rgb(55, 55, 55);
}

.dropdown-divider {
  background-color: rgb(55, 55, 55);
}

#btn-reset, #dropdown {
  display: inline-block;
  margin-right: 10px;
}

.project {
  margin-top: 20px;
}

.project-image {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  background-image: linear-gradient(70deg, #F0060B, #CC26D5, #7702FF);
  height: 400px;
  width: 400px;
}

.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project-info {
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info .link {
  text-align: center;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
}

.project-info img {
  width: 50px;
  transition: 500ms;
}

.project-info .link a {
  text-decoration: none;
}

.project-info .link a p {
  color: white;
  font-size: 15px;
  opacity: 0;
  transform: translateY(-10px);
  transition: 500ms;
  margin: 0;
}

.project-info .link:hover {
  background-color: #161616;
  border: 1px solid #232323;
}

.project-info .link:hover a p {
  opacity: 1;
  transform: translateY(-5px);
}

.project-info .link:hover img {
  scale: 0.9;
  transform: translateY(-10px);
}

.project-info .tag {
  background-color: #7702FF;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  display: inline-block;
  transition: 500ms;
}

.project-info .tag:hover {
  background-color: #8822fd;
}

#no-projects {
  padding: 50px 0;
  display: none;
  font-size: 1.5em;
  text-align: center;
}
